body{
    background-color: palevioletred;
    color: lemonchiffon;
    
    
}


#destroy3{
    width:1000px;
    padding-bottom: 100px;
    padding-top: 10px;
}

#destroy4{
    padding-top: 100px;
    padding-bottom: 100px;
}
